---
---

<section class="py-14">
  <div class="container px-4 mx-auto">
    <div class="max-w-4xl mx-auto text-center">
      <span
        class="inline-flex items-center py-1.5 px-3 rounded-full text-xs font-medium text-blue-500 bg-blue-100 mb-4"
        >FAQ</span
      >
      <h2 class="mb-4 text-4xl md:text-5xl leading-tight text-slate-800 font-bold tracking-tight">
        Frequently Asked Questions
      </h2>
      <p class="mb-10 text-lg md:text-xl text-slate-500 font-medium">
        Use FAQ to address customer objections
      </p>
    </div>
    <div class="max-w-4xl mx-auto">
      <div
        class="flex flex-wrap w-full p-8 mb-8 text-slate-300 bg-white text-left border border-slate-200 rounded-md"
      >
        <div class="flex gap-x-4">
          <svg
            class="flex-shrink-0 mt-1 w-6 h-6 text-slate-500"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path
              d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
            ></path>
          </svg>

          <div>
            <h3 class="font-bold text-xl mb-3 text-slate-800">What do I put in this area?</h3>
            <p class="text-slate-500">
              Identify the 5 most common customer objections. Address them in this area. Make sure the top 3
              are also addressed in your copy throughout the page.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-wrap w-full p-8 mb-8 text-slate-300 bg-white text-left border border-slate-200 rounded-md"
      >
        <div class="flex gap-x-4">
          <svg
            class="flex-shrink-0 mt-1 w-6 h-6 text-slate-500"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path
              d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
            ></path>
          </svg>

          <div>
            <h3 class="font-bold text-xl mb-3 text-slate-800">What do I put in this area?</h3>
            <p class="text-slate-500">
              Identify the 5 most common customer objections. Address them in this area. Make sure the top 3
              are also addressed in your copy throughout the page.
            </p>
          </div>
        </div>
      </div>
      <div
        class="flex flex-wrap w-full p-8 mb-8 text-slate-300 bg-white text-left border border-slate-200 rounded-md"
      >
        <div class="flex gap-x-4">
          <svg
            class="flex-shrink-0 mt-1 w-6 h-6 text-slate-500"
            xmlns="http://www.w3.org/2000/svg"
            width="16"
            height="16"
            fill="currentColor"
            viewBox="0 0 16 16"
          >
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"></path>
            <path
              d="M5.255 5.786a.237.237 0 0 0 .241.247h.825c.138 0 .248-.113.266-.25.09-.656.54-1.134 1.342-1.134.686 0 1.314.343 1.314 1.168 0 .635-.374.927-.965 1.371-.673.489-1.206 1.06-1.168 1.987l.003.217a.25.25 0 0 0 .25.246h.811a.25.25 0 0 0 .25-.25v-.105c0-.718.273-.927 1.01-1.486.609-.463 1.244-.977 1.244-2.056 0-1.511-1.276-2.241-2.673-2.241-1.267 0-2.655.59-2.75 2.286zm1.557 5.763c0 .533.425.927 1.01.927.609 0 1.028-.394 1.028-.927 0-.552-.42-.94-1.029-.94-.584 0-1.009.388-1.009.94z"
            ></path>
          </svg>

          <div>
            <h3 class="font-bold text-xl mb-3 text-slate-800">What do I put in this area?</h3>
            <p class="text-slate-500">
              Identify the 5 most common customer objections. Address them in this area. Make sure the top 3
              are also addressed in your copy throughout the page.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
