---
---

<footer class="p-4 sm:p-6 bg-slate-900">
  <div class="mx-auto max-w-screen-xl">
    <div class="md:flex md:justify-between">
      <div class="mb-6 md:mb-0">
        <div class="flex items-center">
          <div class="self-center text-2xl font-semibold whitespace-nowrap text-white">Astro Lander</div>
        </div>
      </div>
      <div class="grid grid-cols-2 gap-8 sm:gap-6 sm:grid-cols-3">
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-slate-100">Company</h2>
          <ul>
            <li class="mb-4">
              <a href="#" class="text-sm text-slate-400 hover:text-blue-400">About</a>
            </li>
            <li>
              <a href="#" class="text-sm text-slate-400 hover:text-blue-400">Contact</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-slate-100">Follow us</h2>
          <ul>
            <li class="mb-4">
              <a href="#" class="text-sm text-slate-400 hover:text-blue-400">LinkedIn</a>
            </li>
            <li>
              <a href="#" class="text-sm text-slate-400 hover:text-blue-400">Instagram</a>
            </li>
          </ul>
        </div>
        <div>
          <h2 class="mb-6 text-sm font-semibold uppercase text-slate-100">Legal</h2>
          <ul>
            <li class="mb-4">
              <a href="#" class="text-sm text-slate-400 hover:text-blue-400">Privacy Policy</a>
            </li>
            <li>
              <a href="#" class="text-sm text-slate-400 hover:text-blue-400">Terms &amp; Conditions</a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <hr class="my-6 sm:mx-auto border-slate-500 lg:my-8" />
    <div class="sm:flex sm:items-center sm:justify-between">
      <span class="text-sm sm:text-center text-slate-400">© 2023 Ian Callaghan. All Rights Reserved.</span>
    </div>
  </div>
</footer>
