---
---

<nav class="mx-auto max-w-7xl px-4 sm:px-6 lg:px-8 pt-2">
  <div class="flex justify-between items-center">
    <a class="flex-none text-xl font-semibold text-slate-100" href="#">Astro lander</a>
    <ul class="hidden lg:flex ml-auto mr-10 items-center w-auto space-x-12">
      <li><a class="text-sm text-slate-300 hover:text-blue-400" href="#">Features</a></li>
      <li><a class="text-sm text-slate-300 hover:text-blue-400" href="#">FAQ</a></li>
    </ul>
    <a href="#" class="btn-outline">Book a call</a>
  </div>
</nav>
