---
import '~/assets/styles/base.css';
import Header from '~/components/Header.astro';
import Footer from '~/components/Footer.astro';
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
  </head>
  <body class="text-slate-600 bg-slate-50">
    <Header />
    <slot />
    <Footer />
  </body>
</html>
